.ajax-loading-icon {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    align-self: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.name {
    display: inline-block;
}

.bottombutton {
    height: 10em;
    bottom: 0;
}

.bottomcheck {
    display: inline-block;
    width: 100%;
}

.namelink {
    cursor: pointer;
    border-radius: 20px;
    border: 5px solid;
    padding: 5px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    position: relative;
    height: inherit;
}

.namelinktop {
    height: 32%;
}

.namelinkcontent {
    top: 33%;
    padding-top: 5px;
    height: 34%;
    width: 91%;
    text-align: center;
    position: absolute;
}

.namelinkyeargroup {
    text-align: center;
    position: absolute;
    top: 66%;
    height: 33%;
    width: 91%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #636363;
}

.namelinkyeargroup p {
    padding-top: 10px;
    height: 20%;
}

a:link, a:visited {
    text-decoration: none;
    color: #808080;
}

a:hover, a:active {
    /*background-color: #44C9FF;
	color: white;*/
    text-decoration: none;
    color: #808080;
}

.btn-selector {
    color: #FFFFFF;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

.btn-selector-parent {
    width: 100%;
    margin-top: 1%;
    position: relative;
}

.btn-selector:hover, .btn-selector:active {
    background-color: #FFFFFF;
}

.btn-gly {
    position: absolute;
    left: 95%;
    top: 10%;
}

.selected {
    font-size: 25px;
    color: #33FF33;
    z-index: 100;
    position: relative;
    margin-top: 1em;
}

.selectedcallover {
    position: absolute;
    left: 50%;
    top: 25%;
    font-size: 25px;
    color: #33FF33;
}

.notselectedcallover {
    position: absolute;
    left: 25%;
    top: 25%;
    font-size: 25px;
    color: #FF3333;
}

.editlinks {
    position: absolute;
    bottom: 85%;
    left: 25%;
}

.deletelinks {
    position: absolute;
    bottom: 85%;
    right: 25%;
}

body {
    background-color: #EEEEEE;
}

.datetime {
    position: absolute;
    top: 15%;
    bottom: 70%;
    color: #D3D3D3;
}

.time {
    margin-left: 0;
}

.date {
    margin-left: 0;
    margin-top: 13%;
}

.btn-callover {
    padding-top: 2em;
    padding-bottom: 2em;
    float: right;
    position: absolute;
}

#callover-reset {
    top: 400%;
}

.adminpanel {
    width: 100%;
    height: 10em;
    -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
}

.adminpanel h3 {
    padding-left: 25px;
}

.adminpanelcontent {
    position: relative;
    height: 12em;
}

.adminpanelcontent p {
    font-size: 16px;
    font-family: sans-serif;
}

.studentcount {
    position: absolute;
}

.colours {
    position: absolute;
    left: 49.2%;
    top: 2.5%;
}

.colour-1 {
    position: absolute;
    left: 53%;
    width: 30px;
    height: 30px;
    border: 3px solid black;
}

.colour-2 {
    position: absolute;
    left: 55%;
    width: 30px;
    height: 30px;
    border: 3px solid black;
}

.inhousecount {
    position: absolute;
    left: 74%;
}

.editadmin {
    position: absolute;
    left: 58em;
    top: 2em;
    bottom: 0%;
}

.deleteadmin {
    position: absolute;
    left: 60em;
    top: 2em;
}
